/*.admin-users-panel {*/
/*  padding: 20px;*/
/*}*/

/*.admin-users-panel h1 {*/
/*  margin-bottom: 20px;*/
/*}*/

/*.admin-users-panel button {*/
/*  margin-right: 10px;*/
/*  cursor: pointer;*/
/*}*/

/*table {*/
/*  width: 100%;*/
/*  margin-top: 20px;*/
/*  border-collapse: collapse;*/
/*}*/

/*table, th, td {*/
/*  border: 1px solid black;*/
/*}*/

/*th, td {*/
/*  padding: 10px;*/
/*  text-align: left;*/
/*}*/

/*th {*/
/*  background-color: #f0f0f0;*/
/*}*/

.admin-users-panel {
  padding: 20px;
  background-color: #f4f4f4; /* Світлий фон */
  border-radius: 10px; /* Закруглені кути */
  margin: 20px;
}

.admin-users-panel h1 {
  text-align: center;
  color: #333;
}

.admin-users-panel button {
  background-color: #4CAF50; /* Зелений колір */
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20px;
}


.admin-users-panel button:hover {
  background-color: #388E3C;
}

.admin-users-panel table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.admin-users-panel th, .admin-users-panel td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.admin-users-panel th {
  background-color: #4CAF50;
  color: white;
}

.admin-users-panel td button {
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
}

.admin-users-panel td button:first-child {
  background-color: #008CBA; /* Синій колір */
}

.admin-users-panel td button:last-child {
  background-color: #f44336; /* Червоний колір */
}


.admin-users-panel td button:hover {
  opacity: 0.8;
}
