.change-profile-info-form {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.change-profile-info-form h2 {
  text-align: center;
  color: #333;
}

.change-profile-info-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.change-profile-info-form input[type="email"],
.change-profile-info-form input[type="text"],
.change-profile-info-form input[type="file"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.change-profile-info-form input[type="file"] {
  border: none;
}

.change-profile-info-form button {
  padding: 10px 15px;
  color: white;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.change-profile-info-form button:hover {
  background-color: #218838;
}
